.text-gradient {
  @apply bg-gradient-to-r from-[#F71D0A] to-[#EF0961] text-transparent bg-clip-text;
}
.downtext-gradient {
  @apply bg-gradient-to-r from-[#363636] to-[#0c0c0c] text-transparent bg-clip-text;
}

/* From Uiverse.io by adamgiebl */
.button {
  font-size: 16px;
  padding: 1em 3.3em;
  cursor: pointer;
  transform: perspective(200px) rotateX(15deg);
  color: white;
  font-weight: 900;
  border: none;
  border-radius: 5px;
  background: linear-gradient(
    0deg,
    rgba(247, 29, 10, 1) 0%,
    rgba(239, 9, 97, 1) 100%
  );
  box-shadow: rgba(247, 29, 10, 0.2) 0px 40px 29px 0px;
  will-change: transform;
  transition: all 0.3s;
  border-bottom: 2px solid rgba(239, 9, 97, 1);
}

.button:hover {
  transform: perspective(180px) rotateX(30deg) translateY(2px);
}

.button:active {
  transform: perspective(170px) rotateX(36deg) translateY(5px);
}
